# T3-compiled objects
obj/
*.t3

# These are C .gitignore targets, because it seemed like the closest thing in the
# list of potential .gitignore exemplars; delete these at some point if they don't
# ever seem to be useful.

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
